<%= form_for @contact  do |f| %>
<% if @contact.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this post from being saved:</h2>
 
    <ul>
    <% @contact.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="main">
<div class="label">
<%= f.label :firstname %>
</div>
<div>
<%= f.text_field  :firstname  %>
</div>

<div class="label">
<%= f.label :lastname %>
</div>
<div>
<%= f.text_field :lastname %>
</div>

<div class="label">
<%= f.label :gender %>
</div>
<div>
<%= f.select :gender, options_for_select([[""],["Male"],["Female"]]), :html => { :class => 'button' } %>
</div>

<div class="label">
<%= f.label :email %>
</div>
<div>
<%= f.text_field :email %>
</div>


<div class="label">
<%= f.label :mobilenumber %>
</div>
<div>
<%= f.text_field :mobilenumber %>
</div>

<div class="label">
<%= f.label :address %>
</div>
<div>
<%= f.text_area :address %>
</div>

<div class="label">
<%= f.label :photo %>
</div>
<div>
<%= f.file_field :photo %>
</div>

<p>
<%= f.submit :html => { :class => 'button' }, :onclick => "return validate();" %>
</p>

<% end %>
</div>

