

<div class="main" id="show-div">
  <div class="list-contacts">
  
    <img class="show-img" src="/data/<%= @contact.photo %>" /> 

    <div class="all">
          <p class="underline"><%= @contact.firstname %>&nbsp<%= @contact.lastname %></p>
          <div class="label">
          Gender
          </div>
          <div>
          <%= @contact.gender %>
          </div>
          <div class="label">
           Email
          </div>
          <div>
          <%= @contact.email %>
          </div>
          <div class="label">
           Phone
           </div>
           <div>
           <%= @contact.mobilenumber %>
           </div>
           <div class="label">
           Address
           </div>
           <div>
           <%= @contact.address %>
           </div>
    </div>


