<img src="/data/<%= @contact.photo %>" width= "200" height="200" float="left" border="2px solid black" />
<p>
<strong>FirstName: </strong>
<%= @contact.firstname %>
</p>
<p>
<strong>Lastname:</strong>
<%= @contact.lastname %>
</p>
<p>
<strong>Gender:</strong>
<%= @contact.gender %>
</p>

<p>
<strong>Email:</strong>
<%= @contact.email %>
</p>
<p>
<strong>MobileNumber:</strong>
<%= @contact.mobilenumber %>
</p>
<p>
<strong>Address:</strong>
<%= @contact.address %>
</p>
<P>
<strong>Image: </strong><br>
</p>

<%= link_to "list of contacts", contacts_path %>

