<p>
<strong>FirstName: </strong>
<%= @contact.firstname %>
</p>
<p>
<strong>Lastname:</strong>
<%= @contact.lastname %>
</p>
<p>
<strong>Email:</strong>
<%= @contact.email %>
</p>
<p>
<strong>MobileNumber:</strong>
<%= @contact.mobilenumber %>
</p>
<p>
<strong>Address:</strong>
<%= @contact.address %>
</p>