<!DOCTYPE html>
<html>
<head>
  
 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <%= csrf_meta_tags %>
 <div class="header">
  <div class="disp2">
    <img src="/data/h4.png" height="50" width="50" align="left"/><p class="foot"> Contacts Book</p>
  </div>

   <div class="disp1" >
    <ul>
     <li><%= link_to_unless_current 'Home', new_contact_path %><li>
     <li><%= link_to_unless_current 'All', contacts_path %></li>
     <li><%= link_to_unless_current 'Male', contacts_male_path %></li>
     <li><%= link_to_unless_current 'Female', contacts_female_path %></li>
    </ul>
   </div>

 </div>

</head>
<body>
 <%= yield %>
 <div class="footer">
  <p class="foot">All text and design<img src="/data/copy.png" width="20" height="20"  /> 2014 Report Bee Edusys Pvt. Ltd.</p>
 </div>
</body>
</html>
